/* work sans font */
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles */
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    color: #FFF;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
    background: #FF900E;
    padding: 10px;
    border: 0;
    cursor: pointer;
}
.section-title{
    color:#131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.text-description{
    color:#727272;
    line-height: 1.6rem;
}
/* header styles */
header{
background: rgba(255, 144, 14, 0.10);
padding: 50px 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-title{
    color:#131313;
    font-size: 2.8rem;
    font-weight: 700;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner styles */
.banner-content{
    max-width: 800px;
    margin: 0 200px;
    text-align: center;
}
.banner-title{
    color:#131313;
    font-size: 3rem;
    font-weight: 700;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}
/* main styles */
main{
    max-width: 1440px;
    margin: 4rem auto;
}
/* teams style */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    margin-left: 6rem;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.teams-title{
    font-size: 3rem;
}
.teams-title .quick-list{
    color:#727272;
    font-weight: 500;
}
.teams-title .text-features{
    color: #FF900E;
    font-weight: 700;
}
.img{
    width: 16rem;
}
/* features-section-styles */
.features{
    display: flex;
    margin-top: 130px;
    gap: 100px;
}
.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.features-img img{
    height: 90%;
    margin-left: 80px;
}
.features-content .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years-badge h2{
    font-size: 4.5rem;
    margin: 0;
}
.ten-years-badge p{
    font-size: 1.5rem;
}
/* facts section */
.facts-card-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding:30px;
}
.facts-card-container .card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts{
    margin-left: 80px;
    margin-top: 120px;
}
/* sponsors styles */
.sponsors{
    text-align: center;
    margin-top: 150px;
}
.sponsors-icon-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.sponsors-icon-container img{
    width: 165px;
}
/* footer-section */
.footer-section{
    width: 80%;
    height: 70px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 100px;
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
    padding-top: 20px;
}
.footer-section p{
    color:#424242;
    font-size: 20px;
    font-weight: 300;
}

/* responsive media query */
/* Mobile device */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .section-title{
        font-size: 2rem;
    }
    .banner-content{
        text-align: center;
        margin: 0;
    }
    .banner-title{
        font-size: 2rem;
    } 
    .teams-container{
        flex-direction: column-reverse;
    }
    .img{
        width: 10rem;
    }
    .teams-img-section{
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        margin-left:0;
    }
    .teams-title{
        font-size: 2rem;
    }
    .teams-content{
        text-align: center;
        margin-bottom: 2rem;
        margin-top: -3rem;
    }
    .features{
        flex-direction: column;
        margin-top: 100px;
    }
    .features-img{
        margin-top: 0;
    }
    .features-img img{
        width: 100%;
        margin-left: 0;
    }
    .ten-years-badge{
        position: static;
        width: 200px;
        padding: 10px;
        margin-left:60px;
    }
    .ten-years-badge h2{
        font-size: 3rem;
    }
    .facts-card-container{
        flex-direction: column;
        gap: 10px;
        margin-top: -10px;
    }
    .facts{
        text-align: center;
        margin-right: 70px;
    }
    .sponsors-icon-container{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .footer-section p{
        color:#424242;
        font-size: 10px;
        font-weight: 100;
    }
}

/* tablet and medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    .banner-content{
        text-align: center;
        margin: 0;
    }
    .section-title{
        font-size: 3rem;
        font-weight: 700;
    }
    .teams-container{
        flex-direction: column-reverse;
        text-align: center;
    }
    .teams-content{
        margin-bottom: 2rem;
    }
    .teams-img-section{
        margin-left: 0;
    }
    .img{
        width: 20rem;
    }
    .features{
        flex-direction: column;
        margin-top: 100px;
    }
    .facts-card-container{
        gap: 10px;
        margin-right: 40px;
    }
    .sponsors-icon-container img{
        width: 100px;
    }
}

